.harley-legacy{
    padding: 80px 5.6vw;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    flex-wrap: wrap;
}

.harley-legacy__image img{
    max-width: 420px;
    width: 100%;
}

.harley-legacy__content{
    max-width: 520px;
}

.harley-legacy__title{
    font-size: 20px;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.harley-legacy__title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 6px;

    background: linear-gradient(
    90deg,
    transparent,
    #ff2f92,
    #ff2f92,
    transparent
    );
    transform: rotate(-2deg);
    filter: blur(1px);  
}

.harley-legacy__text{
    margin-bottom: 16px;
    line-height: 1.6;
}