.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;

    display: flex;
    align-items: center;

    transition: transform 0.4s ease, opacity 0.4s ease;
}

.header--hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5.6vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 80px; 
    width: auto;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.header__logo:hover{
    animation: logoShake 0.4s ease;
}

.header__menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;

    padding: 10px 18px;
    border-radius: 8px;

    background: linear-gradient(135deg, #ff2f92, #e50914);
    color: #fff;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.header__menu a:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 0 12px rgba(255, 47, 146, 0.7);
}
@keyframes logoShake {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-6deg); }
    50%  { transform: rotate(6deg); }
    75%  { transform: rotate(-4deg); }
    100% { transform: rotate(0deg); }
}




