@use 'variaveis';
@use 'header';
@use 'hero';
@use 'shows';
@use 'trailers';
@use 'harley-legacy';
@use 'faq';
@use 'footer';

html, body {
  overflow-x: hidden;
}

body {
  background-color: variaveis.$cor-fundo;
  color: variaveis.$cor-texto;
  font-family: 'Inter', sans-serif;
  margin: 0;
}